import React, { Component } from 'react';

export default class <#fileName> extends Component {
  static displayName = <#fileName>;

  static propTypes = {}

  render() {
    return (
      <div>
        Hello from <#fileName>
      </div>
    );
  }
}
