import React, { Component } from 'react';

export default class <#fileName> extends Component {
  state = {};

  render() {
    return (
      <div>
        Hello from <#fileName>
      </div>
    );
  }
}

<#fileName>.displayName = '<#fileName';

<#fileName>.propTypes = {};
