import React from 'react';
// import PropTypes from 'prop-types';

const <#fileName> = (props) => {
  return (
    <div>
      Hello from <#fileName>
    </div>
  );
};

<#fileName>.displayName = '<#fileName>';

<#fileName>.propTypes = {};

export default <#fileName>;
